.custom-navbar {
    background-color: #9c3ca1; 
}
.navbar-brand {
    padding-left: 1rem;
}
.navbar-nav .nav-link {
    margin-right: 1rem; 
}
.navbar-nav .nav-link:hover {
    color: #ffc107; 
}

.position-relative {
    position: relative;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    display: none; 
}

#profile-image:hover + .overlay-text {
    display: block; 
}


#profile-image {
    cursor: pointer; 
}


#image-upload {
    display: none;
}
